<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Lobby</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <div class="content">
            <div class="name">GAME NAME </div>
			
			<div class="heading">CHOOSE NUMBER OF PLAYERS</div>
			
			
            <a  class="button" href="start.html">2 PLAYERS</a>
            <a  class="button" href="start.html">3 PLAYERS</a>
            <a  class="button" href="start.html">4 PLAYERS</a>
			
        </div>
		<script src="scripts.js"></script>
</body>
</html>