<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN GAME</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <div class="content">
            <div class="name">GAME NAME </div>
			
			 <form action="start.html" method="GET" class="form-container">
			 <label for="LobbyCode">LOBBY CODE:</label>
                <input type="text" name="lobbyCode" placeholder="Enter lobby code" required>
                <button type="submit" class="button">ENTER LOBBY</button>
            </form>
			
        </div>
</body>
</html>