<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
     <div class="content">
       
	   <div class="outset">
			<p class="player">player1</p>
			<p class="player">player2</p>
			<p class="player">player3</p>
			<p class="player">player4</p>
	   </div>
	   
        
		<div class="button2"><a href="#">START</a></div>
		
		
		<div class=lobbyName>Lobby Code:</div>
    </div>
</body>
</html>