body {
    margin: 0;
    padding: 0;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
	position:relative;
}

.content {
    display: flex;
	flex-wrap:wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
	/* width:90vw; */
	padding:20px;
	background-color:#0c1a31;
   height: 100%;
}

@media (min-width: 600px) {
    .content {
        flex-direction: row; /* Arrange items in a row */
        flex-wrap: wrap; /* Allow wrapping to the next line */
        justify-content: center; /* Center items horizontally */
    }

    .button {
        flex: 0 1 calc(50% - 20px); /* Two buttons per row with spacing */
       margin: 10px; /* Add margin to create space between buttons */
	   
    }

    .name, .heading, .button2{
       flex: 0 1 100%; 
       margin-bottom: 3vw; 
	   font-size:6vh;
    }
	
}

.name {
		font-family: Verdana, Arial;
        font-size: 8vh;
        font-weight: bold;
		color: #ffffff;
        margin: 10vh 10vw;
		text-align:center;
		top:9%;
        }

  .button{
  background-color:#16EF63;
  border: none;
  color:white;
  padding: 1vh 1vw /*2ph*/;
  text-align: center;
  text-decoration: none;
  font-family:'Impact' ;
  display: inline-block;
  font-size: 4vh;
  border-radius: 8px;
  margin:1vh;
  width: calc(50% - 20px);
  box-shadow: 5px 10px #888888;
}

/*.button2{
	width:50vw;
	margin:auto;
    padding: 3vh 6vw;
}*/

.button2{
  position:relative;
  display:inline-block;
  margin:20px;
}

.button2 a{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#16EF63;
  display:block;
  position:relative;
  padding:20px 40px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 white, 0 10px 0 white;
  -moz-box-shadow:inset 0 1px 0 white, 0 10px 0 white;
  box-shadow:inset 0 1px 0 white, 0 10px 0 #10AD48;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button2 a:active{
  top:10px;
  background-color:#10AD48;
  
  -webkit-box-shadow:inset 0 1px 0 black, inset 0 -3px 0 black;
  -moz-box-shadow:inset 0 1px 0 black, inset 0 -3pxpx 0 black;
  box-shadow:inset 0 1px 0 black, inset 0 -3px 0 black;
}

.button2:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.heading{
	font-family: Verdana, Arial;
        font-size: 4vh;
        font-weight: bold;
		color: #ffffff;
        margin-bottom: 2vh;
		margin-right:6vw;
		margin-left:6vw;
		text-align:center;
}

.players {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2vh;
}

.player, .lobbyName{
    font-family: Verdana, Arial;
    font-size: 3vh; 
    font-weight: bold;
    color: #ffffff;
    text-align: center;
	margin-top:3vh;
}

.lobbyName{
	margin-bottom:2vh;
}

label{
	color: white;
	font-size:4vh;
	font-family:'Impact';
}

 input { 
	padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 45px;
	width:80%
        }


a{
	color:#061E36;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
	
div.outset {
	border-style: outset;
	width:70vw;
	margin-top:5vh;

    justify-content: center;
}

#leaderboard {
    display:none;
}

#mazeCanvas {
    display: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

@keyframes fall {
    0% {
        transform: translateX(0) translateY(-100%) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateX(100px) translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f00;
    opacity: 0.7;
    will-change: transform, opacity;
}